html{
  --primaryColor: #610101;
  --primaryColorDark: #2b0a0a;
  --primaryColorLight: #943535;
  --secondaryColor: #692020;
  --secondaryColorDark: #3b1212;
  --secondaryColorLight: #833636;
  background: url('../src/img/bgAdBellum.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
